<!DOCTYPE html>
<html>

<!--	-	-	HEADer Stuff Goes Here	-	-	-->

<head>

	<meta charset="UTF-8"/>
	<meta name="viewport" content='width=device-width, initial-scale=1.0'>
	<link rel="stylesheet" type="text/css" href="GappedAnimations.stylesheet.css"/>
	
	<title>GappedAnimations</title>

</head>

<!--	-	-	Body Stuff Goes Here	-	-	-->

<body>
	<div id="header">
		<div id="navbar">
			<ul>
				<li>Main</li>
				<li>Gallery</li>
				<li>Links</li>
				<li>Contact</li>
			</ul>
		</div>
		<h2>Gapped Animations</h2>
	</div>
	
	<div id="left">
		<iframe width="425" height="350" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=217838434980793930069.0004dc9966acab2ace4d2&amp;hl=en&amp;ie=UTF8&amp;ll=52.7398,13.578391&amp;spn=0,0&amp;t=h&amp;output=embed">
		</iframe>
		<br />
		<p>View <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=217838434980793930069.0004dc9966acab2ace4d2&amp;hl=en&amp;ie=UTF8&amp;ll=52.7398,13.578391&amp;spn=0,0&amp;t=h&amp;source=embed" style="color:#0000FF;text-align:left">Bens Guide to Underground Cool Stuff</a> in a larger map</p>
		
	</div>
	
	<div id="right">
		<table>
			<th colspan="3">Stuff I Done...</th>
			<tr>
				<td><img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-prn1/336673_10150346211076615_127567373_o.jpg"/></td>
				<td><img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-frc1/324666_10150351505971615_2143061154_o.jpg"/></td>
				<td><img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-frc1/294386_10150326992641615_1665154686_n.jpg"/></td>
			</tr>
			<tr>
				<td><img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash4/p206x206/291915_10150322800876615_330102002_n.jpg"/></td>
				<td><img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-ash4/330714_10150322650741615_1353640708_o.jpg"/></td>
				<td><img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-frc1/333414_10150848148456615_396641150_o.jpg"/></td>
			</tr>
			<tr>
				<td><img id="bottom_left" src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-prn1/614822_10150997597321615_1739811725_o.jpg"/></td>
				<td><img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-frc1/334088_10150997596761615_1947014696_o.jpg"/></td>
				<td><img id="bottom_right" src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-ash3/177888_10150848134526615_1981679499_o.jpg"/></td>
			</tr>
		</table>
	</div>
	
	<div id="footer">
		<div id="button">
			<p>Send me an <span class="bold">E-Mail</span>!</p>
		</div>
	</div>

</body>