<div class='post'>
	<h1 id='wicked' style='text-align:center;'><span id='wicked2' style='text-align:center;'></span>@</h1>
	<br>
	<p>PSN: EpicNuts<br>
		XBLA: Benjamonstyles<br>
		Steam: benjaminluck<br>
		Skype: Gapped<br>
		Email: Benjamonstyles@gmail.com<br>
		</p>
</div>