<div class='post' style='padding-bottom: 20px;'>
	<h1 style='text-align:center;'>A Steaming Pile of Categories</h1>
	<% @categories.each do |category| %>
	<div class='div_common'>
		<div class='boxes'>
			<h4 id='wicked' style='text-align:center;'><span id='wicked2'></span><%= link_to category.name,category %></h3>
		</div>
	</div>
	<% end %>
</div>

