<div class='post' style='padding-bottom: 20px;'>
	<h1 style='text-align:center;'>A Steaming Pile of Categories</h1>
	
	<a id='caterBlockies' href="/categories/1">
	<div class='div_common' style='background-image:url(https://dl.dropboxusercontent.com/u/5243670/Videogames.png)'>
		<div class='boxes'>
			
		</div>
	</div>
	</a>

	<a id='caterBlockies' href="/categories/2">
	<div class='div_common' style='background-image:url(https://dl.dropboxusercontent.com/u/5243670/Videos.png)'>
		<div class='boxes'>
			
		</div>
	</div>
	</a>

	<a id='caterBlockies' href="/categories/3">
	<div class='div_common' style='background-image:url(https://dl.dropboxusercontent.com/u/5243670/News.png)'>
		<div class='boxes'>
			
		</div>
	</div>
	</a>

	<a id='caterBlockies' href="/categories/4">
	<div class='div_common' style='background-image:url(https://dl.dropboxusercontent.com/u/5243670/Maya.png)'>
		<div class='boxes'>
			
		</div>
	</div>
	</a>

</div>